@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 400;
	src: url('../font/S-CoreDream-4Regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/S-CoreDream-4Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/S-CoreDream-4Regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 600;
	src: url('../font/S-CoreDream-5Medium.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/S-CoreDream-5Medium.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/S-CoreDream-5Medium.woff') format('woff'); /* Modern Browsers */
}

body {font-family: 'S-CoreDream', sans-serif; font-size:16px; font-weight:400; box-sizing:border-box; background-attachment: fixed; color:#333;}
em {font-style:normal;}
div {z-index:0;}
img {height:auto;}
u {text-decoration:none; border-width:0 0 1px 0; border-color:inherit; border-style:solid;}
a {text-decoration:none; color:#333; transform:rotate(0.04deg);}
.blind {text-indent:-9999px; font-size:0; opacity:0;}
