body {background:rgb(29, 29, 29); color:#fff;}
a {color:#fff; text-decoration:underline;}
.Wrap {display:flex; flex-wrap:wrap; align-items:flex-start;}
button {font-family:'S-CoreDream', sans-serif; background:rgba(10, 205, 206); color:#fff; border:none; padding:8px 20px; border:1px solid rgb(10, 205, 206, .25);}
.box {border:5px solid rgba(10,205,206,.25); display:inline-block; padding:25px; margin:25px;}
.box .title {margin-bottom:15px;}
.btnGroup {margin-top:10px;}
button + p,
input + p,
p + p {margin-top:10px;}


.gray {background-color:#aaa}
.gray:hover {background-color:transparent; color:rgba(10,205,206);}
.bdType1 {border:1px solid rgba(10,205,206,.25);}

input, select {padding:8px 10px; font-family:'S-CoreDream', sans-serif;}
button[disabled="disabled"] {opacity:.4;}