@charset "UTF-8";

body {position:relative; background-color:#fff; color:#333; font-family:"Pretendard"; min-height:100vh;}
body .bg {width:100%; height:100%;}
body .bg {position:fixed; top:0; width:100%; height:400px; background:#333; border-radius:0 0 300px 300px / 0 0 32px 32px; z-index:-1;  background:url("../image/avante_main_bg.jpg") left 0 top 50% no-repeat; background-size:cover;}
body .bg::before {display:block; content:''; width:100%; height:100%; background:rgba(0,0,0,.4); position:absolute; left:0; top:0; z-index:-1; border-radius:0 0 300px 300px / 0 0 32px 32px;}
body .bg.option {background:url("../image/optionGuide/avante_option_bg.jpg") left 0 top 65% no-repeat; background-size:cover;}
body .bg.option::before {background:rgba(0,0,0,.5);}

.slogan {position:absolute; left:50%; top:50%; color:#fff; transform:translate(-50%, -50%);}
.slogan .title {font-size:62px; font-weight:700;}