@charset "uft-8";


@font-face{font-family:"NBG";
		   src:local('NanumBarunGothic'),
		   url('../fonts/NanumBarunGothic.eot'),
		   url('../fonts/NanumBarunGothic.woff') format('woff'),
		   url('../fonts/NanumBarunGothic.ttf') format('truetype')
		   }


@font-face{font-family:"HEL";
		   src:local('Helvetica'),
		   url('../fonts/Helvetica.eot'),
		   url('../fonts/Helvetica.woff') format('woff'),
		   url('../fonts/Helvetica.ttf') format('truetype')
		   }


@font-face{font-family:"BLACK";
		   src:local('BlackoakStd'),
		   url('../fonts/BlackoakStd.eot'),
		   url('../fonts/BlackoakStd.woff') format('woff'),
		   url('../fonts/BlackoakStd.ttf') format('truetype')
		   }



*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:inherit;}
body{font-family:"HEL"; font-size:14px;}
.in{width:1200px; margin-left:auto; margin-right:auto;}
.align{text-align:center;}

.header {background:url(../image/background.jpg); no-repeat; background-size:cover; height:600px; position:relative;}
.header_top {}
.header_top img{width:100px; height:100px; float:left; padding-left:20px; padding-top:20px;}
.ticket_box {width:200px; float:right; padding:10px 20px; background:linear-gradient(to bottom , #741415, #3f0c0d);
			 border:1px solid rgba(255,255,255,.1); color:#fff; 
			 text-align:center; margin-top:300px; margin-right:480px; font-size:20px;}
.more:hover {color:#cb231c;}


.lnb {display:none;}
.topnav {list-style:none; padding:0 20px; margin:0; float:left; width:1200px; background:#eee; font-size:18px; background:transparent;
			position:absolute; top:8%; margin-left:200px;}
ul.topnav li {float: left; margin:0; padding: 0 15px 0 0; position: relative;}
ul.topnav li:nth-of-type(1) {margin-right:20px;}
ul.topnav li a{padding: 10px 5px; color: #fff; display: block; text-decoration: none; float: left;}
ul.topnav li a:hover{color:#fff;}
ul.topnav li span { /*--Drop down 시동*/width: 17px; height: 35px; float: left;}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect */
ul.topnav li ul.subnav {list-style: none; position: absolute; /*메인메뉴의 영향을 받지 않게 함*/ left: 0; top: 35px; background: #741415; margin: 0; padding: 0;
						display: none; float: left; width: 100px; border: 1px solid #3f0c0d;}
ul.topnav li ul.subnav li{margin: 0; padding: 0; border-top: 1px solid #3f0c0d; /* 베벨효과 */ border-bottom: 1px solid #3f0c0d; /* 베벨효과 */
						  clear: both; width: 100px; font-size:14px;}
ul.topnav li ul.subnav li a {margin-left:5px;}

.bottom {position:relative;}
.header_bottom {width:1200px; height:200px; background:linear-gradient(to bottom , #741415, #3f0c0d);
				border-radius:30px 30px 0 0; opacity:.9; position:absolute; bottom:-600px;}
.bottom_left {float:left; width:599px; height:200px; text-align:center; color:#fff;}
.bottom_left h3 {margin-top:20px; font-size:20px;}
.bottom_left span:nth-of-type(1) {margin-right:30px; margin-left:5px;}
.bottom_left span:nth-of-type(2) {margin-left:30px; margin-right:5px;}
.bottom_left p:last-child {margin-top:-70px; font-size:20px;}
.image {width:100px; height:100px;}
.m_logo {position:absolute; left:0; top:0; width:40px; height:40px;}
.LFC {left:440px; top:10px;}
.RMD {left:120px; top:10px;}

.bottom_right {float:left; width:299px; height:200px; color:#fff; box-sizing:border-box; padding-left:40px;}
.bottom_right h3 {margin-top:20px; font-size:20px; margin-bottom:10px;}
.bottom_right h4 {float:right; margin-top:-30px; margin-right:20px;}
.bottom_right p {margin-top:2px;}

.bottom_right02 {float:left; width:299px; height:200px;}
.bottom_right02 .right_image {width:200px; height:70px; margin-top:25px; margin-left:50px; box-shadow:1px 1px 1px rgba(0,0,0,.1);}
.bottom_right02 a:nth-of-type(2) img {margin-top:10px;}



.content {background:#741415; height:2000px; overflow:hidden;}
.content_01 {width:400px; height:550px; background:#fff; float:left;}
.content_02 {width:400px; height:550px; background:#e6e6e6; float:left;}
.content_03 {width:400px; height:1000px; background:#fff; float:right;}

.content_01 h3 {text-align:left; margin-top:15px; margin-left:25px; font-size:20px;}
.content_01 p {text-align:right; margin-right:25px; margin-top:-20px;}
.banner {width:350px; height:215px; margin-top:14px;}

.content_02 h3 {text-align:left; margin-top:15px; margin-left:25px; font-size:20px;}
.content_02 p {text-align:right; margin-right:25px; margin-top:-20px;}
.content_02 .box_01 {width:350px; height:100px; background:#fff; margin-top:15px; margin-left:25px;}
.content_02 .box_01 img {padding:10px; float:left; margin-right:5px;}
.content_02 .box_01 h4{display:inline-block; margin-top:15px; font-size:14px;}
.content_02 .box_01 p {text-align:left; margin-top:5px; font-size:12px;}


.content_03 h3 {text-align:left; margin-top:15px; margin-left:25px; font-size:20px;}
.content_03 p {text-align:right; margin-right:25px; margin-top:-20px;}
.content_03 .box_02 {width:350px; height:445px; background:#fff; margin-top:15px; margin-left:25px; border:1px solid rgba(0,0,0,.3);}
.content_03 .box_02 img{width:350px; height:250px;}
.content_03 .box_02 h4{display:inline-block; margin-top:10px; margin-left:15px; font-size:18px;}
.content_03 .box_02 p {text-align:left; margin-top:5px; margin-left:15px; font-size:14px;}
.content_03 .box_02 p:nth-of-type(2) {color:#fff; background:linear-gradient(to bottom , #ff0003, #970b0c); width:100px; height:35px; text-align:center; line-height:30px; font-weight:bold;
								  float:right; margin-top:12px;}
.content_03 .box_02 a:last-child {padding:20px 0px;}


.content_04 {width:780px; height:450px; background:#fff; float:left; position:relative; padding-left:20px;}
.content_04 .box_03 {position:relative; width:760px; overflow:hidden; height:300px;}
.photo {position:absolute; left:0px; top:65px; min-width:3000px;}
.photo li {float:left; width:190px; height:230px;}
.content_04 .box_03 h4 {font-size:20px; text-align:left; margin-top:30px; margin-bottom:10px; margin-left:5px;}
.content_04 .box_03 img {border:1px solid rgba(0,0,0,.3); margin-bottom:20px; cursor:pointer;}


.content_bt_01 {width:1200px; height:800px; background:#fff; float:left;}
.line {width:100%; height:10px; background:#741415}
.content_bt_01 h4 {font-size:30px; text-align:left; margin-left:35px; margin-top:50px; margin-bottom:10px;}
.content_bt_01 p {text-align:right; margin-right:35px; margin-top:-30px; margin-bottom:10px;}
.slider_img {width:350px; height:500px; margin:20px; margin-top:0px; padding-bottom:20px;}
.main_button a {padding:10px 50px; background:linear-gradient(to bottom , #741415, #3f0c0d); color:#fff; margin:115px;}

.content_bt_02 {width:1200px; height:200px; background:#e6e6e6; float:left;}
.f_logo {width:120px; height:70px; margin-right:20px; margin-top:50px;}


.footer {height:350px;  background:linear-gradient(to bottom , #741415, #3f0c0d); color:#fff;}
.f_image {width:150px; height:150px; margin-top:25px;}
.footer p {padding-top:5px;}
.footer p:nth-of-type(1) {padding-top:20px; padding-bottom:10px;}




	
@media (min-width:760px) and (max-width:1199px) {
	.in{width:760px; margin-left:auto; margin-right:auto;}
	.align{text-align:center;}


	.header {background:url(../image/background.jpg); no-repeat; background-size:cover; height:600px; position:relative;}
	.header_top img{width:70px; height:70px; float:left; padding-left:20px; padding-top:20px;}
	.ticket_box {width:200px; padding:10px 20px; background:linear-gradient(to bottom , #741415, #3f0c0d);
				 border:1px solid rgba(255,255,255,.1); color:#fff; 
				 text-align:center; font-size:16px; float:left; position:absolute; bottom:37%; left:39%;}

	.lnb {display:none;}
	.main_logo {display:none;}

	.topnav {list-style:none; padding:0 20px; margin:0; float:left; width:1200px; background:#eee; font-size:16px; background:transparent;
			position:absolute; top:8%; margin-left:-15px;}
	ul.topnav li {float: left; margin:0; padding: 0 15px 0 0; position: relative;}
	ul.topnav li:first-child {margin-right:20px;}
	ul.topnav li a{padding: 10px 5px; color: #fff; display: block; text-decoration: none; float: left;}
	ul.topnav li a:hover{color:#fff;}
	ul.topnav li span { /*--Drop down 시동*/width: 17px; height: 35px; float: left;}
	ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect */
	ul.topnav li ul.subnav {list-style: none; position: absolute; /*메인메뉴의 영향을 받지 않게 함*/ left: 0; top: 35px; background: #741415; margin: 0; padding: 0;
							display: none; float: left; width: 100px; border: 1px solid #3f0c0d;}
	ul.topnav li ul.subnav li{margin: 0; padding: 0; border-top: 1px solid #3f0c0d; /* 베벨효과 */ border-bottom: 1px solid #3f0c0d; /* 베벨효과 */
							  clear: both; width: 100px; font-size:14px;}
	ul.topnav li ul.subnav li a {margin-left:5px;}


	.main_logo {display:none;}
	.bottom {position:relative;}
	.header_bottom {width:100%; height:200px; background:linear-gradient(to bottom , #741415, #3f0c0d);
					border-radius:30px 30px 0 0; opacity:.9; position:absolute; bottom:-600px;}
	.bottom_left {float:left; width:60%; height:200px; text-align:center; color:#fff; position:absolute; left:0%; top:0;}
	.bottom_left h3 {margin-top:20px; font-size:20px;}
	.bottom_left span:nth-of-type(1) {margin-right:30px; margin-left:5px;}
	.bottom_left span:nth-of-type(2) {margin-left:30px; margin-right:5px;}
	.bottom_left p:last-child {margin-top:-70px; font-size:20px;}
	.image {width:100px; height:100px;}
	.m_logo {display:none; position:absolute; left:0; top:0; width:40px; height:40px;}
	.LFC {left:440px; top:10px;}
	.RMD {left:120px; top:10px;}

	.bottom_right {float:right; width:45%; height:200px; color:#fff; box-sizing:border-box; padding-left:40px;}
	.bottom_right h3 {margin-top:20px; font-size:20px; margin-bottom:10px;}
	.bottom_right h4 {float:left; margin-top:-30px; margin-left:190px;}
	.bottom_right p {margin-top:2px;}

	.bottom_right02 {display:none; float:left; width:299px; height:200px;}
	.bottom_right02 .right_image {width:200px; height:70px; margin-top:25px; margin-left:50px; box-shadow:1px 1px 1px rgba(0,0,0,.1)}
	.bottom_right02 a:nth-of-type(2) img {margin-top:10px;}



	.content {background:#741415; height:1800px; overflow:hidden;}
	.content_01 {width:50%; height:550px; background:#fff; float:left;}
	.content_02 {width:50%; height:550px; background:#e6e6e6; float:left;}
	.content_03 {width:100%; height:600px; background:#fff; float:right;}

	.content_01 h3 {text-align:left; margin-top:20px; margin-left:15px; font-size:20px;}
	.content_01 p {text-align:right; margin-right:15px; margin-top:-20px;}
	.banner {width:350px; height:215px; margin-top:10px;}

	.content_02 h3 {text-align:left; margin-top:20px; margin-left:20px; font-size:20px;}
	.content_02 p {text-align:right; margin-right:15px; margin-top:-20px;}
	.content_02 .box_01 {width:90%; height:100px; background:#fff; margin-top:10px; margin-left:20px;}
	.content_02 .box_01 img {padding:10px; float:left; margin-right:5px;}
	.content_02 .box_01 h4{display:inline-block; margin-top:15px; font-size:12px;}
	.content_02 .box_01 p {text-align:left; margin-top:2px; font-size:11px;}


	.content_03 h3 {text-align:left; margin-top:15px; margin-left:50px; font-size:20px;}
	.content_03 p {text-align:right; margin-right:15px; margin-top:-20px;}
	.content_03 p:first-child {text-align:right; margin-right:60px; margin-top:-20px;}
	.content_03 .box_02 {width:310px; height:445px; background:#fff; margin-top:15px; margin-left:45px; border:1px solid rgba(0,0,0,.3);
						 float:left;}
	.content_03 .box_02 img{width:310px; height:250px;}
	.content_03 .box_02 h4{display:inline-block; margin-top:10px; margin-left:15px; font-size:18px;}
	.content_03 .box_02 p {text-align:left; margin-top:5px; margin-left:15px; font-size:14px;}
	.content_03 .box_02 p:nth-of-type(2) {color:#fff; background:linear-gradient(to bottom , #ff0003, #970b0c); width:100px; height:35px; text-align:center; line-height:30px; font-weight:bold;
									  float:right; margin-top:12px;}


	.content_04 {width:100%; height:450px; background:#fff; float:left; padding:0;}
	.content_04 .box_03 h4 {font-size:20px; text-align:left; margin-left:15px; margin-top:30px; margin-bottom:10px;}
	.content_04 .box_03 img {border:1px solid rgba(0,0,0,.3); margin-bottom:20px;}


	.content_bt_01 {display:none; width:1200px; height:500px; background:#fff; float:left;}
	.line {width:100%; height:10px; background:#741415}
	.content_bt_01 h4 {font-size:30px; text-align:left; margin-left:25px; margin-top:50px; margin-bottom:10px;}
	.content_bt_01 p {text-align:right; margin-right:25px; margin-top:-30px; margin-bottom:10px;}
	.slider_img {width:380px; height:300px;}

	.content_bt_02 {width:100%; height:150px; background:#e6e6e6; float:left;}
	.f_logo {width:80px; height:40px; margin-right:20px; margin-top:50px;}


	.footer {height:300px; background:linear-gradient(to bottom , #741415, #3f0c0d); color:#fff;}
	.f_image {width:120px; height:120px; margin-top:0px;}
	.footer p {padding-top:5px;}
	.footer p:nth-of-type(1) {padding-top:20px; padding-bottom:10px;}

}

@media (min-width:320px) and (max-width:759px) {
	.in{width:500px; margin-left:auto; margin-right:auto;}
	.align{text-align:center;}
	
	.header {background:url(../image/background.jpg); no-repeat; background-size:cover; height:600px; position:relative;}
	.header_top img{width:60px; height:60px; padding-top:20px;}
	.ticket_box {width:100px; padding:10px 20px; background:linear-gradient(to bottom , #741415, #3f0c0d);
				 border:1px solid rgba(255,255,255,.1); color:#fff; 
				 text-align:center; font-size:16px; float:left; position:absolute; bottom:37%; left:39%;}
	
	.topnav {display:none;}
	.main_logo {display:none;}


	.container{margin-left:0; transition:margin-left 0.5s ease-out;}
	.lnb{position:relative; left:0; width:100%; min-height:100px; z-index:101; display:block;}
	.menu_btn{display:inline-block; position:relative; top:0; margin:28px 0 0 0px; width:40px; height:40px; background:url(../image/toggle_button.png) no-repeat;
			  background-position:0 0; text-indent:-9999px; margin-left:-0px;}
	nav .hamburger_menu {position:fixed; top:0; left:-200px; width:200px; padding-left:40px; background:linear-gradient(to right , #741415, #3f0c0d);
						 overflow:hidden; box-shadow:1px 1px 5px rgba(0,0,0,.1);
						 transition:left 0.5s ease-out; height:100%; box-sizing:border-box; color:#fff;}
	nav .hamburger_menu .logo{margin-top:100px;}
	nav .hamburger_menu .logo a {font-size:1.2em; font-weight:600; color:#fff;}
	nav .hamburger_menu ul{margin-top:50px;}
	nav .hamburger_menu ul li{margin-bottom:30px;}
	nav .hamburger_menu ul li a:hover{font-weight:bold;}

	.overlay{position:fixed; z-index:102; left:0px; right:0; bottom:0; background:rgba(0,0,0,.6); transition:left 0.5s ease-out;}

	.overlay.on{left:200px; top:0;}
	nav .hamburger_menu.on{left:0;}
	.open_status .container{margin-left:200px;}
	.open_status .menu_btn{background:url(../image/toggle_button.png) no-repeat; background-position:-40px 0;}


	.bottom {position:relative;}
	.header_bottom {width:100%; height:200px; background:linear-gradient(to bottom , #741415, #3f0c0d);
					border-radius:30px 30px 0 0; opacity:.9; position:absolute; bottom:-500px;}
	.bottom_left {float:left; width:100%; height:200px; text-align:center; color:#fff;}
	.bottom_left h3 {margin-top:20px; font-size:20px;}
	.bottom_left span:nth-of-type(1) {margin-right:30px; margin-left:5px;}
	.bottom_left span:nth-of-type(2) {margin-left:30px; margin-right:5px;}
	.bottom_left p:last-child {margin-top:-70px; font-size:20px;}
	.image {width:100px; height:100px;}
	.m_logo {display:none; position:absolute; left:0; top:0; width:40px; height:40px;}
	.LFC {left:440px; top:10px;}
	.RMD {left:120px; top:10px;}

	.bottom_right {display:none; float:left; width:100%; height:200px; color:#fff; box-sizing:border-box; padding-left:40px; text-align:center;}
	.bottom_right h3 {margin-top:20px; font-size:20px; margin-bottom:10px;}
	.bottom_right h4 {display:none; float:right; margin-top:-30px; margin-right:20px;}
	.bottom_right p {margin-top:2px;}

	.bottom_right02 {display:none; float:left; width:299px; height:200px;}
	.bottom_right02 .right_image {width:200px; height:70px; margin-top:25px; margin-left:50px; box-shadow:1px 1px 1px rgba(0,0,0,.1)}
	.bottom_right02 a:nth-of-type(2) img {margin-top:10px;}



	.content {background:#741415; height:2100px; overflow:hidden;}
	.content_01 {width:100%; height:550px; background:#fff; float:left;}
	.content_02 {width:100%; height:550px; background:#e6e6e6; float:left;}
	.content_03 {width:100%; height:1100px; background:#fff; float:right;}

	.content_01 h3 {text-align:center; margin-top:20px; font-size:20px;}
	.content_01 p {text-align:right; margin-right:80px; margin-top:-20px;}
	.banner_01 {text-align:center;}
	.banner_01 {text-align:center;}

	.content_02 h3 {text-align:center; margin-top:15px; margin-left:25px; font-size:20px;}
	.content_02 p {text-align:right; margin-right:60px; margin-top:-20px;}
	.content_02 .box_01 {width:80%; height:100px; background:#fff; margin-top:15px; margin-left:45px;}
	.content_02 .box_01 img {padding:10px; float:left; margin-right:5px;}
	.content_02 .box_01 h4{display:inline-block; margin-top:15px; font-size:14px;}
	.content_02 .box_01 p {text-align:left; margin-top:5px; font-size:12px;}


	.content_03 h3 {text-align:center; margin-top:15px; margin-left:25px; font-size:20px;}
	.content_03 p {text-align:right; margin-right:15px; margin-top:-20px;}
	.content_03 p:first-child {text-align:right; margin-right:85px; margin-top:-20px;}
	.content_03 .box_02 {width:350px; height:445px; background:#fff; margin-top:15px; margin-left:75px; border:1px solid rgba(0,0,0,.3);}
	.content_03 .box_02 img{width:350px; height:250px;}
	.content_03 .box_02 h4{display:inline-block; margin-top:10px; margin-left:15px; font-size:18px;}
	.content_03 .box_02 p {text-align:left; margin-top:5px; margin-left:15px; font-size:14px;}
	.content_03 .box_02 p:nth-of-type(2) {color:#fff; background:linear-gradient(to bottom , #ff0003, #970b0c); width:100px; height:35px; text-align:center; line-height:30px; font-weight:bold;
									  float:right; margin-top:12px;}


	.content_04 {display:none; width:800px; height:450px; background:#fff; float:left;}
	.content_04 .box_03 h4 {font-size:20px; text-align:left; margin-left:30px; margin-top:30px; margin-bottom:10px;}
	.content_04 .box_03 img {border:1px solid rgba(0,0,0,.3); margin-bottom:20px;}


	.content_bt_01 {display:none; width:1200px; height:500px; background:#fff; float:left;}
	.line {width:100%; height:10px; background:#741415}
	.content_bt_01 h4 {font-size:30px; text-align:left; margin-left:25px; margin-top:50px; margin-bottom:10px;}
	.content_bt_01 p {text-align:right; margin-right:25px; margin-top:-30px; margin-bottom:10px;}
	.slider_img {width:380px; height:300px;}

	.content_bt_02 {width:100%; height:120px; background:#e6e6e6; float:left;}
	.f_logo {width:50px; height:30px; margin-right:3px; margin-top:20px;}


	.footer {height:300px; background:linear-gradient(to bottom , #741415, #3f0c0d); color:#fff;}
	.f_image {width:100px; height:100px; margin-top:20px;}
	.footer p {padding-top:5px; margin:0 150px; font-size:10px;}
	.footer p:nth-of-type(1) {padding-top:20px; padding-bottom:10px;}


}