@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	src: url('../font/Pretendard-ExtraLight.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-ExtraLight.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-ExtraLight.woff') format('woff'), /* Modern Browsers */
}


@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: url('../font/Pretendard-Light.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-Light.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-Light.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-Light.woff') format('woff'), /* Modern Browsers */
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: url('../font/Pretendard-Regular.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-Regular.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-Regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: url('../font/Pretendard-Medium.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-Medium.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-Medium.woff') format('woff'), /* Modern Browsers */
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: url('../font/Pretendard-Bold.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-Bold.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src: url('../font/Pretendard-Black.ttf'); /* IE9 Compat Modes */
	src: local(''),
		 url('../font/Pretendard-Black.ttf#iefix') format('true-type'), /* IE6-IE8 */
		 url('../font/Pretendard-Black.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/Pretendard-Black.woff') format('woff'), /* Modern Browsers */
}

/* reset */
*, *::before, *::after{box-sizing: border-box;}
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%;}
body {font-size:18px; line-height:1.6;}
html, body, div, span, iframe, p, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img {margin: 0; padding: 0; border: 0;}
iframe {overflow: auto; width: 100%; border: 0;}
table {width: 100%; border-collapse: separate; border-spacing: 0; font-size: inherit;}
th, td {font-size: inherit; line-height: inherit; word-break: normal;}
h1, h2, h3, h4, h5, h6 {font-weight:600;}
ol, ul {list-style: none;}
img {max-width: 100%; max-height: 100%;}
a {text-decoration: none; color: inherit;}
address, cite, em {font-style: normal;}
caption, legend {overflow: hidden; width: 0; height: 0; line-height: 0; text-indent: -9999em;}
input, textarea, select, optgroup, button {font-size: inherit; font-family: inherit; line-height: inherit;}
input, textarea {resize: none; border: 1px solid #e2e2e2; border-radius: 0; background: #fff;color:#666;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {height: 45px; padding: 0 20px; border: 1px solid #e2e2e2;border-radius:3px;}
input[type="checkbox"], input[type="radio"] {padding: 0; border-radius: 0;}
input[type="checkbox"][disabled], input[type="radio"][disabled] {opacity: .5;}
input[type="image"] {border: 0 none;}
input[type="text"],img,select {font-size: 1em; vertical-align: middle;}
select {height: 50px; padding-right: 30px; padding-left: 20px; border: 1px solid #e2e2e2; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #555;border-radius:3px;}
select::-ms-expand {display: none;}
button,input[type="button"], input[type="reset"], input[type="submit"] {overflow: visible; -webkit-appearance: button; cursor: pointer;}
button {border: 0; background-color: transparent;}
form, fieldset {width:100%;}

* {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
  position:relative;
  font-family:"Pretendard";
  background: var(--main-bg-color); color: var(--main-font-color);
  transition:all .5s;
}

img { -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  max-width:100%;
  max-height:100%;}


:root {--main-bg-color:#000; --main-font-color:#fff;}

#drawing_line { position: relative; z-index: 1500; height: 0;}
#drawing_line > svg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; pointer-events: none;}
#drawing_line > svg .drawing_line_polyline { fill: none; stroke: #ddd; stroke-width: 2; opacity:.7;}
#drawing_line > svg .drawing_line_circle { fill: #ddd; opacity:.7;}

.btnGroup {margin:30px 0;}
.btnGroup.center {text-align:center;}
.btn {display:inline-block; color:#fff; padding:15px 60px; transition: all 0.5s;  position: relative; font-size:1em;}
.btn::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(255,255,255,0.1); transition: all 0.3s;}
.btn:hover::before { opacity: 0 ; transform: scale(0.5,0.5);}
.btn::after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; transition: all 0.3s; border: 1px solid rgba(255,255,255,0.5); transform: scale(1.2,1.2);}
.btn:hover::after {opacity: 1; transform: scale(1,1);}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1400px){
	body {font-size:17px;}
}

@media screen and (max-width: 1024px){
	body {font-size:16px;}
}

@media screen and (max-width: 640px){
	body {font-size:14px;}
	.mobileHide3 {display:none !important;}

	.btnGroup {margin:15px 0;}
	.btn {padding:12px 45px;}
}

@media screen and (max-width: 500px){
	.mobileHide4 {display:none !important;}
}