html {
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}

body {
  cursor: none;
  overflow: hidden;
  height: 100%;
}

main {
  overflow: clip;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.3s;
}
.cursor_hover {
  transform: translate(-50%, -50%) scale(3);
}

.header-module {
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 80px;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #333;
  top: -80px;
}
.header-module.nav-up {
  top: 0;
}
.header-module .menu {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 1;
  mix-blend-mode: difference;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-module .menu .path .line {
  width: 35px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.header-module .menu .path.is-active .line:nth-child(1) {
  opacity: 0;
  transform: translateX(-100%);
}
.header-module .menu .path.is-active .line:nth-child(3) {
  opacity: 0;
  transform: translateX(100%);
}
.header-module .menu.fixed {
  position: fixed;
  top: 0;
  height: 80px;
  background: rgba(0, 0, 0, 0.9);
  transition: all 1s ease-in-out;
}
.header-module .menu.fixed.menu {
  top: 17px;
}
.header-module .logo {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1;
  mix-blend-mode: difference;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.header-module .logo a {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.header-module nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
}
.header-module nav ul {
  display: flex;
}
.header-module nav ul li {
  margin-left: 30px;
}
.header-module nav ul li a {
  font-size: 1.8rem;
  position: relative;
  color: #ddd;
}
.header-module nav ul li img {
  width: 30px;
}

.main-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-section__inner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  width: 100%;
}
.main-section__inner-row h2 {
  overflow: hidden;
  text-align: center;
  font-size: 16rem;
  font-weight: 800;
  transition: all 0.5s;
}
.main-section__inner-row h2 div {
  transform: translateY(100%);
  line-height: 1.4;
}
.main-section__inner-video {
  width: 300px;
  margin: 0 25px;
  z-index: 10;
  opacity: 0;
  scale: 1.5;
}
.main-section__inner-video video {
  width: 100%;
  scale: 1;
  z-index: -1;
}

.section-slogan {
  height: 100vh;
}

.section-text {
  height: 100%;
  padding: 20rem 0 35rem;
  background-color: #111;
}
.section-text__wrap {
  width: 100%;
  padding: 0 10rem;
}
.section-text__box {
  display: flex;
  flex-direction: column;
}
.section-text__box p {
  white-space: nowrap;
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(37, 37, 37) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.2;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -0.5rem;
  padding: 0 1rem;
}
.section-text__box p.keyword {
  font-weight: 800;
  font-size: 7rem;
  font-family: "omyu_pretty", sans-serif;
  font-style: italic;
}
.section-text__box p + p {
  margin-top: 2rem;
}
.section-text__box.tar {
  text-align: right;
}
.section-text__box.tar p {
  font-size: 5rem;
}
.section-text__box + .section-text__box {
  margin-top: 15rem;
}

.section-parallax {
  position: relative;
  background-color: #ebe6dd;
  color: var(--main-bg-color);
  height: 100%;
  padding: 20rem 0 0;
  z-index: 0;
  display: block;
}
.section-parallax__title {
  text-align: center;
  height: 100%;
  line-height: 0.83;
  position: sticky;
  top: 35vh;
  overflow: hidden;
}
.section-parallax__title span {
  display: inline-block;
  width: 100%;
  font-size: 14vw;
  z-index: -1;
  font-weight: 700;
  letter-spacing: -1.8rem;
  opacity: 0;
}
.section-parallax__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.section-parallax__inner div {
  z-index: 10;
  width: auto;
  position: relative;
}
.section-parallax__inner div + div {
  margin-top: 10rem;
}
.section-parallax__inner div {
  left: 5%;
}
.section-parallax__inner div:nth-child(3n) {
  left: auto;
  right: 6%;
}
.section-parallax__inner div:nth-child(3n-1) {
  left: -3%;
}
.section-parallax__inner div:last-child {
  left: 5%;
}
.section-parallax__inner div {
  left: 10%;
}
.section-parallax__inner div:nth-child(3n) {
  left: auto;
  right: 12%;
}
.section-parallax__inner div:nth-child(3n-1) {
  left: -6%;
}
.section-parallax__inner div:last-child {
  left: 10%;
}
.section-parallax__inner div {
  left: 15%;
}
.section-parallax__inner div:nth-child(3n) {
  left: auto;
  right: 18%;
}
.section-parallax__inner div:nth-child(3n-1) {
  left: -9%;
}
.section-parallax__inner div:last-child {
  left: 15%;
}
.section-parallax__inner div {
  left: 20%;
}
.section-parallax__inner div:nth-child(3n) {
  left: auto;
  right: 24%;
}
.section-parallax__inner div:nth-child(3n-1) {
  left: -12%;
}
.section-parallax__inner div:last-child {
  left: 20%;
}
.section-parallax__inner div {
  left: 25%;
}
.section-parallax__inner div:nth-child(3n) {
  left: auto;
  right: 30%;
}
.section-parallax__inner div:nth-child(3n-1) {
  left: -15%;
}
.section-parallax__inner div:last-child {
  left: 25%;
}

.line__wrap {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.line__wrap .line {
  width: 100%;
  height: 20px;
  background-color: #fff;
  margin-top: 30px;
}
.line__wrap .line:nth-child(6n+1) {
  height: 5px;
}
.line__wrap .line:nth-child(6n+2) {
  height: 10px;
}
.line__wrap .line:nth-child(6n+3) {
  height: 15px;
}
.line__wrap .line:nth-child(6n+4) {
  height: 20px;
}
.line__wrap .line:nth-child(6n+5) {
  height: 25px;
}
.line__wrap .line:nth-child(6n+6) {
  height: 30px;
}
.line__wrap .line:last-child {
  margin-top: 0;
}

.section-project {
  display: block;
}
.section-project__inner {
  width: 100vw;
  padding: 20rem 0 0;
}
.section-project__list {
  border: 1px solid rgb(53, 53, 53);
  border-width: 1px 0;
  margin-bottom: 10rem;
}
.section-project__list a {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 5fr;
  padding: 4rem 5vw;
  transition: all 0.5s;
}
.section-project__list a:hover {
  background-color: rgb(27, 27, 27);
  transform: scale(1.01);
  transition: all 0.5s;
}
.section-project__item {
  font-size: 1.6rem;
}
.section-project__item-num {
  padding-top: 1rem;
}
.section-project__item-title {
  font-size: 2.8rem;
  word-break: keep-all;
}
.section-project__item-desc p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  word-break: keep-all;
}
.section-project__item-desc span {
  color: #b8b8b8;
}
.section-project__item + .section-project__item {
  border-top: 1px solid rgb(53, 53, 53);
}

.marquee {
  position: relative;
  padding: 3rem 0;
  font-size: 10vw;
  text-transform: uppercase;
  overflow: hidden;
}
.marquee__inner {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  color: #fffcdf;
}
.marquee__inner.reverse {
  justify-content: flex-end;
}
.marquee__part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
  will-change: transform;
  font-weight: 800;
  line-height: 1;
}

.section-marquee .marquee {
  padding-bottom: 20rem;
}
.section-marquee .marquee__inner {
  letter-spacing: -0.75rem;
}
.section-marquee .marquee__inner:nth-child(1) div {
  color: #faf7d8;
  font-weight: 800;
  font-size: 14vw;
}
.section-marquee .marquee__inner:nth-child(2) div {
  color: #bebb98;
  font-weight: 700;
  font-size: 0.9em;
}
.section-marquee .marquee__inner:nth-child(3) div {
  color: #929182;
  font-weight: 800;
  font-size: 0.85em;
}
.section-marquee .marquee__inner:nth-child(4) div {
  color: #ebe7c0;
  font-weight: 700;
  font-size: 0.9em;
}
.section-marquee .marquee__inner:nth-child(5) div {
  color: #b8b6a5;
  font-weight: 600;
  font-size: 0.8em;
}
.section-marquee .marquee__inner:nth-child(6) div {
  color: #636258;
  font-weight: 700;
  font-size: 0.75em;
}

.section-contact {
  height: 100vh;
  display: block;
  overflow: visible;
}
.section-contact .textWrap {
  text-align: center;
  transition: all 0.5s;
  transform: translateY(0);
}
.section-contact .textWrap p {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -0.5rem;
}
.section-contact .textWrap span {
  position: relative;
  display: inline-block;
  font-size: 3rem;
}
.section-contact .textWrap span em {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.section-contact .textWrap.on span em {
  border-bottom: 1px solid #111;
}
.section-contact .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale(0.25);
  overflow: hidden;
  border-radius: 200px;
  transition: border-radius 2s;
}
.section-contact .bg-video.on {
  border-radius: 0;
}
.section-contact .bg-video.on::before {
  opacity: 1;
}
.section-contact .bg-video::before {
  display: block;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 2s;
}
.section-contact .bg-video .videoText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 6rem;
}
.section-contact .bg-video .videoText div {
  overflow: hidden;
}
.section-contact .bg-video .videoText div p {
  font-size: 4rem;
  font-weight: 700;
  transform: translateY(100%);
}
.section-contact .bg-video .videoText div h2 {
  font-weight: 700;
  letter-spacing: -0.5rem;
  transform: translateY(100%);
}
.section-contact .bg-video .videoText div span {
  display: block;
  font-size: 2rem;
  color: #ddd;
  transform: translateY(100%);
}
.section-contact .bg-video .videoText div + div {
  margin-bottom: 3rem;
}
.section-contact .bg-video .bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  width: 100%;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  background: #000;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #333;
}
.footer p {
  width: 100%;
  text-align: center;
  color: #ddd;
  font-weight: 600;
  word-break: keep-all;
}
.footer p:last-child {
  color: #777;
}

@media screen and (max-width: 1400px) {
  .main-section__inner-row h2 {
    font-size: 10rem;
  }
  .main-section__inner-video {
    width: 200px;
  }
  .section-text {
    padding: 15rem 0 25rem;
  }
  .section-text__box p {
    font-size: 5rem;
  }
  .section-text__box.tar p {
    font-size: 4rem;
  }
  .section-parallax__inner div {
    width: 30vw;
  }
  .section-parallax__title span {
    letter-spacing: -0.75rem;
    font-size: 13vw;
  }
  .line__wrap .line {
    margin-top: 25px;
  }
  .section-project__item-num {
    padding-top: 0.5rem;
  }
  .section-project__item-title {
    font-size: 2.4rem;
  }
  .section-project__item-desc p {
    font-size: 1.8rem;
  }
  .section-contact .textWrap p {
    font-size: 6rem;
  }
  .section-contact .textWrap span {
    font-size: 2.4rem;
  }
  .section-contact .bg-video .videoText {
    font-size: 5rem;
  }
  .section-contact .bg-video .videoText div + div {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  html {
    overflow: visible;
  }
  body {
    overflow: visible;
  }
  .header-module .logo {
    left: 3.5rem;
  }
  .header-module nav {
    margin-right: 3.5rem;
  }
  .main-section__inner {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    padding: 10rem 0 0 0;
  }
  .main-section__inner-row h2 {
    font-size: 8vw;
  }
  .main-section__inner-row:last-child {
    display: flex;
    flex-direction: column;
  }
  .main-section__inner-row:last-child h2:first-child {
    display: none;
  }
  .main-section__inner-video {
    width: -moz-fit-content;
    width: fit-content;
    opacity: 1;
    scale: 1;
    transform: scale(1) !important;
    order: 3;
    margin: 3.5rem;
  }
  .section-slogan {
    height: auto;
  }
  .section-text {
    padding: 10rem 0 20rem 0;
  }
  .section-text__wrap {
    padding: 0 3.5rem;
  }
  .section-text__box p {
    font-size: 4rem;
    letter-spacing: -0.4rem;
    padding-left: 0;
  }
  .section-text__box.tar p {
    font-size: 3.5rem;
  }
  .section-text__box + .section-text__box {
    margin-top: 13rem;
  }
  .section-parallax__title {
    top: 40vh;
  }
  .line__wrap .line {
    margin-top: 20px;
  }
  .section-project__inner {
    width: 100%;
    padding: 5rem 0 20rem;
  }
  .section-project__item-num {
    padding-top: 0.5rem;
  }
  .section-project__item-title {
    font-size: 2.2rem;
  }
  .section-project__item-desc p {
    font-size: 1.6rem;
  }
  .section-marquee .marquee {
    padding-bottom: 10rem;
  }
  .section-contact {
    height: 100vh;
  }
  .section-contact .bg-video {
    transform: scale(0.3);
    border-radius: 150px;
  }
}
@media screen and (max-width: 768px) {
  .cursor_hover {
    transform: translate(-50%, -50%) scale(2);
  }
  .header-module {
    height: 70px;
  }
  .header-module nav ul li {
    margin-left: 2rem;
  }
  .header-module.nav-up {
    top: -70px;
  }
  .section-parallax__title span {
    letter-spacing: -0.5rem;
  }
  .section-marquee .marquee__inner {
    letter-spacing: -0.35rem;
  }
  .section-project__list a {
    display: block;
    padding: 3rem 5vw;
  }
  .section-project__item-num, .section-project__item-title {
    display: inline-block;
    font-size: 2.2rem;
    padding-top: 0;
  }
  .section-project__item-desc {
    margin-top: 0.75rem;
  }
  .section-project__item-desc span {
    font-size: 1.4rem;
  }
  .section-contact .textWrap p {
    font-size: 4rem;
    letter-spacing: -0.35rem;
  }
  .section-contact .bg-video {
    transform: scale(0.4);
    border-radius: 100px;
  }
  .section-contact .bg-video .videoText {
    font-size: 3rem;
  }
  .section-contact .bg-video .videoText div h2 {
    letter-spacing: -0.2rem;
  }
}
@media screen and (max-width: 640px) {
  .header-module {
    height: 60px;
  }
  .header-module .logo {
    left: 2rem;
  }
  .header-module nav {
    margin-right: 2rem;
  }
  .header-module nav ul li {
    margin-left: 1.5rem;
    width: 26px;
  }
  .header-module.nav-up {
    top: -60px;
  }
  .header-module .logo a {
    font-size: 2.6rem;
  }
  .main-section__inner-video {
    margin: 2rem;
  }
  .section-text {
    padding: 5rem 0 20rem 0;
  }
  .section-text__wrap {
    padding: 0 2rem;
  }
  .section-text__box p {
    font-size: 3.2rem;
    letter-spacing: -0.4rem;
    padding-left: 0;
  }
  .section-text__box.tar p {
    font-size: 2.4rem;
    letter-spacing: -0.25rem;
  }
  .section-text__box p + p {
    margin-top: 1.5rem;
  }
  .section-text__box + .section-text__box {
    margin-top: 10rem;
  }
  .line__wrap .line {
    margin-top: 15px;
  }
  .line__wrap .line:nth-child(6n+1) {
    height: 3px;
  }
  .line__wrap .line:nth-child(6n+2) {
    height: 6px;
  }
  .line__wrap .line:nth-child(6n+3) {
    height: 9px;
  }
  .line__wrap .line:nth-child(6n+4) {
    height: 12px;
  }
  .line__wrap .line:nth-child(6n+5) {
    height: 15px;
  }
  .line__wrap .line:nth-child(6n+6) {
    height: 18px;
  }
  .section-project .marquee {
    padding: 1rem 0;
  }
  .section-project__list {
    margin-bottom: 5rem;
  }
  .section-project__list a {
    padding: 2rem 5vw;
  }
  .section-project__item-num, .section-project__item-title {
    font-size: 2rem;
    padding-top: 0;
  }
  .section-project__item-desc {
    margin-top: 0.75rem;
  }
  .section-project__item-desc p {
    font-size: 1.4rem;
  }
  .section-project__item-desc span {
    font-size: 1.3rem;
  }
  .section-marquee .marquee__inner {
    letter-spacing: -0.15rem;
  }
  .section-contact .textWrap p {
    font-size: 3.2rem;
  }
  .section-contact .textWrap span {
    font-size: 2rem;
  }
  .section-contact .bg-video {
    border-radius: 50px;
  }
  .section-contact .bg-video .videoText div p {
    font-size: 2.2rem;
  }
  .section-contact .bg-video .videoText div h2 {
    font-weight: 600;
  }
  .section-contact .bg-video .videoText div + div {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer {
    font-size: 1.2rem;
    padding: 3rem 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */