@import "./mixin";

:root {

}

html {
    font-size:62.5%;
    overflow:hidden;
    height:100%;
}

body {
	cursor: none;
    overflow:hidden;
    height:100%;
}

main {
    overflow: clip;
}



.cursor {
    position:fixed;
    top:0;
    left:0;
    width:20px;
    height:20px;
    border-radius:50%;
    background:rgba(255,255,255,1);
    transform:translate(-50%,-50%);
    pointer-events: none;
    z-index:9999;
    mix-blend-mode: difference;
    transition:transform .3s;
    &_hover {
        transform:translate(-50%, -50%) scale(3);
    }
}


.header-module {
    @include position(fixed, $top: 0);
    @include transition;
    width: 100%;
    height:80px;
    z-index:1100;
    background:rgba(0,0,0,.6);
    border-bottom:1px solid #333;
    top:-80px;
    &.nav-up {
        top:0;
    }
    .menu {
        display:inline-block;
        @include position(absolute, $top: 50%, $right: 50px);
        @include translateY;
        z-index:1;
        mix-blend-mode:difference;
        cursor: pointer;
        @include transition($transition: .3s);
        .path {
            .line {
                width: 35px; 
                height: 3px;
                background-color: #ecf0f1;
                display: block;
                margin: 8px auto;
                @include transition($transition: .3s);
                
            }
            &.is-active {
                .line {
                    &:nth-child(1) {
                        opacity: $zero;
                        @include translateX(-100%);
                    }
                    &:nth-child(3) {
                        opacity: $zero;
                        @include translateX(100%);
                    }
                }
            }
        }
        &.fixed {
            @include position(fixed, $top:0);
            height:80px;
            background:rgba(0,0,0,.9);
            @include transition($transition: 1s);
            &.menu {
                top : 17px;
            }
        }
    }
    // logo
    .logo {
        @include position(absolute, $top:50%, $left:50px);
        @include translateY;
        width:50px;
        z-index:1;
        mix-blend-mode:difference;
        @include transition($transition: .3s);
        color:#fff;
        a {
            font : {
                size: 32px;
                weight: 700;
            }
            letter-spacing:-0.05em;
        }
    }
    nav {
        height:100%;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        margin-right:80px;
        ul {
            display:flex;
            li {
               margin-left:30px;
               a {
                    font-size:1.8rem;
                    position:relative;
                    color:#ddd;
                    // &::before {
                    //     display:block;
                    //     content:'';
                    //     width:100%;
                    //     height:1px;
                    //     background:#fff;
                    //     position:absolute;
                    //     bottom:-3px;
                    //     left:0;
                    //     transform: scaleX(0);
                    //     transform-origin: bottom right;
                    //     transition: transform 0.25s ease-out;
                    // }
                    // &:hover {
                    //     color:#fff;
                    // }
                    // &:hover::before {
                    //     transform: scaleX(1);
                    //     transform-origin: bottom left;
                    // }
               }
               img {
                width:30px;
               }
            }
        }
    }    
}


.main-section {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
    @include center;
    &__inner {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-row {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index:10;
            position:relative;
            width:100%;
            h2 {
                overflow: hidden;
                text-align:center;
                font-size:16rem;
                font-weight:800;
                transition:all .5s;
                div {
                    transform: translateY(100%);
                    line-height:1.4;
                }
            }
        }
        &-video {
            width:300px;
            margin:0 25px;
            z-index:10;
            opacity:0;
            scale:1.5;
            video {
                width:100%;
                scale:1;
                z-index:-1;
            }
        }
    }
}

.section-slogan {
    height:100vh;
}

.section-text {
    height:100%;
    padding:20rem 0 35rem;
    background-color:#111;
    &__wrap {
        width:100%;
        padding:0 10rem;
    }
    &__box {
        display:flex;
        flex-direction: column;
        p {
            white-space: nowrap;
            background: linear-gradient(
                to right,
                rgb(255, 255, 255) 50%,
                rgb(37, 37, 37) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            line-height: 1.2;
            font-size:8rem;
            font-weight:500;
            letter-spacing:-0.5rem;
            padding:0 1rem;
            &.keyword {
                font-weight:800;
                font-size:7rem;
                font-family: 'omyu_pretty', sans-serif;
                font-style:italic;
            }
        }
        p + p {
            margin-top:2rem;
        }
        &.tar {
            text-align:right;
            p {
                font-size:5rem;
            }
        }
    }
    &__box + &__box {
        margin-top:15rem;
    }
    
    
}

.section-parallax {
    position:relative;
    background-color:#ebe6dd;
    color:var(--main-bg-color);
    height:100%;
    padding:20rem 0 0;
    z-index: 0;
    display:block;
    &__title {
        text-align: center;
        height:100%;
        line-height:.83;
        position: -webkit-sticky;
        position:sticky;
        top:35vh;
        overflow:hidden;
        span {
            display:inline-block;
            width:100%;
            font-size:14vw;
            z-index:-1;
            font-weight:700;
            letter-spacing: -1.8rem;
            opacity:0;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        height:100%;
        div {
            z-index:10;
            width:auto;
            position:relative;
        }
        div + div {
            margin-top:10rem;
        }
        @for $i from 1 through 5 {
            div{
              left: ($i * 5%);
            }
            div:nth-child(3n) {
                left:auto;
                right: ($i * 6%);
            }
            div:nth-child(3n - 1) {
                left:($i * -3%);
            }
            div:last-child {
                left:($i * 5%);
            }
        }
    }
}

.line__wrap {
    width:100%;
    display:flex;
    flex-direction: column-reverse;
    .line {
        width:100%;
        height:20px;
        background-color:#fff;
        margin-top:30px;
    }
    @for $i from 1 to 7 {
        .line:nth-child(6n + #{$i}) {
            height: ($i * 5px);
        }
    }
    .line:last-child {
        margin-top:0;
    }
}

.section-project {
    display:block;
    &__inner {
        width:100vw;
        padding:20rem 0 0;
    }
    &__list {
        border:1px solid rgb(53, 53, 53);
        border-width:1px 0;
        margin-bottom:10rem;
        a {
            display:grid;
            grid-template-columns:.5fr 1.5fr 5fr;
            padding:4rem 5vw;
            transition:all .5s;
            &:hover {
                background-color:rgb(27, 27, 27);
                transform:scale(1.01);
                transition:all .5s;
            }
        }
        
    }
    &__item {
        font-size:1.6rem;
        &-num {
            padding-top:1rem;
        }
        &-title {
            font-size:2.8rem;
            word-break: keep-all;
        }
        &-desc {
            p {
                font-size:2rem;
                margin-bottom:.5rem;
                word-break:keep-all;
            }
            span {
                color:#b8b8b8;
            }
        }
    }
    &__item + &__item {
        border-top:1px solid rgb(53, 53, 53);
    }
}

.marquee {
    position:relative;
    padding:3rem 0;
    font-size:10vw;
    text-transform: uppercase;
    overflow: hidden;
    &__inner {
        display:flex;
        width:fit-content;
        flex:auto;
        flex-direction: row;
        color:#fffcdf;
        &.reverse {
            justify-content: flex-end;
        }
    }
    &__part {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding:0 4px;
        will-change:transform;
        font-weight:800;
        line-height:1;
    }
}

.section-marquee {
    .marquee {
        padding-bottom:20rem;
        &__inner {
            letter-spacing:-.75rem;
            &:nth-child(1) {
                div {
                    color:#faf7d8;
                    font-weight:800;
                    font-size:14vw;
                }
            }
            &:nth-child(2) {
                div {
                    color:#bebb98;
                    font-weight:700;
                    font-size:.9em;
                }
            }
            &:nth-child(3) {
                div {
                    color:#929182;
                    font-weight:800;
                    font-size:.85em;
                }
            }
            &:nth-child(4) {
                div {
                    color:#ebe7c0;
                    font-weight:700;
                    font-size:.9em;
                }
            }
            &:nth-child(5) {
                div {
                    color:#b8b6a5;
                    font-weight:600;
                    font-size:.8em;
                }
            }
            &:nth-child(6) {
                div {
                    color:#636258;
                    font-weight:700;
                    font-size:.75em;
                }
            }
        }
    }
}

.section-contact {
    height:100vh;
    display:block;
    overflow:visible;
    .textWrap {
        text-align:center;
        transition:all .5s;
        transform: translateY(0);
        p {
            font-size:8rem;
            font-weight:500;
            letter-spacing: -0.5rem;
        }
        span {
            position:relative;
            display:inline-block;
            font-size:3rem;
            em {
                padding-bottom:5px;
                border-bottom:1px solid #fff;
            }
        }
        &.on {
            span {
                em {
                    border-bottom:1px solid #111;
                }
            }
        }
    }
    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity:1;
        transform:scale(.25);
        overflow:hidden;
        border-radius:200px;
        transition:border-radius 2s;
        &.on {        
            border-radius:0;
            &::before {
                opacity:1;
            }
        }
        &::before {
            display:block;
            opacity:0;
            content:'';
            width:100%;
            height:100%;
            background:rgba(0,0,0,.5);
            position:absolute;
            left:0;
            top:0;
            transition:opacity 2s;
        }
        .videoText {
            @include center;
            flex-direction: column;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            font-size:6rem;
            div {
                overflow:hidden;
                p {
                    font-size:4rem;
                    font-weight:700;
                    transform: translateY(100%);
                }
                h2 {
                    font-weight:700;
                    letter-spacing:-0.5rem;
                    transform: translateY(100%);
                }
                span {
                    display:block;
                    font-size:2rem;
                    color:#ddd;
                    transform: translateY(100%);
                }
            }
            div + div {
                margin-bottom:3rem;
            }
        }
        .bg-video__content {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
      }
      
}



.footer {
    width:$full;
    @include padding($top:40px, $right:30px, $bottom:40px, $left:30px);
    background:#000;
    font-size:1.4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border-top:1px solid #333;
    p {
        width:$full;
        text-align:center;
        color:#ddd;
        font-weight:600;
        word-break:keep-all;
        &:last-child {
            color:#777;
        }
    }
}



@media screen and (max-width: 1400px) {
    .main-section {
        &__inner {
            &-row {
                h2 {
                    font-size:10rem;
                }
            }
            &-video {
                width:200px;
            }
        }
        
    }

    

    .section-text {
        padding:15rem 0 25rem;
        &__box {
            p {
                font-size:5rem;
            }
            &.tar {
                p {
                    font-size:4rem;
                }
            }
        }
    }

    .section-parallax {
        &__inner {
            div {
                width:30vw;
            }
        }
        &__title {
            span {
                letter-spacing: -0.75rem;
                font-size:13vw;
            }
        }
    }

    .line__wrap {
        .line {
            margin-top:25px;
        }
    }

    .section-project {
        &__item-num {
            padding-top:.5rem;
        }
        &__item-title {
            font-size:2.4rem;
        }
        &__item-desc {
            p {
                font-size:1.8rem;
            }
        }
    }

    .section-contact {
        .textWrap {
            p {
                font-size:6rem;
            }
            span {
                font-size:2.4rem;
            }
        }
        .bg-video {
            .videoText {
                font-size:5rem;
                div + div {
                    margin-bottom:2.5rem;
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    html {
        overflow:visible;
    }
    
    body {
        overflow:visible;
    }
    .header-module {
        .logo {
            left:3.5rem;
        }
        nav {
            margin-right:3.5rem;
        }
    }
    .main-section {
        &__inner {
            position:relative;
            left:auto;
            top:auto;
            transform:none;
            padding:10rem 0 0 0;
            &-row {
                h2 {
                    font-size:8vw;
                }
                &:last-child {
                    display:flex;
                    flex-direction: column;
                    h2 {
                        &:first-child {
                            display:none;
                        }
                    }
                }
            }
            &-video {
                width:fit-content;
                opacity:1;
                scale:1;
                transform:scale(1) !important;
                order:3;
                margin:3.5rem;
            }
        }
    }

    .section-slogan {
        height:auto;
    }

    .section-text {
        padding:10rem 0 20rem 0;
        &__wrap {
            padding:0 3.5rem;
        }
        &__box {
            p {
                font-size:4rem;
                letter-spacing: -0.4rem;
                padding-left:0;
            }
            &.tar {
                p {
                    font-size:3.5rem;
                }
            }
        }
        &__box + &__box {
            margin-top:13rem;
        }
    }


    .section-parallax {
        &__title {
            top:40vh;
        }
    }

    .line__wrap {
        .line {
            margin-top:20px;
        }
    }


    .section-project {
        &__inner {
            width:100%;
            padding:5rem 0 20rem;
        }
        &__item-num {
            padding-top:.5rem;
        }
        &__item-title {
            font-size:2.2rem;
        }
        &__item-desc {
            p {
                font-size:1.6rem;
            }
        }
    }

    .section-marquee {
        .marquee {
            padding-bottom:10rem;
        }
    }

    .section-contact {
        height:100vh;
        .bg-video {
            transform: scale(.3);
            border-radius:150px;
        }
    }
}


@media screen and (max-width: 768px) {
    .cursor {
        &_hover {
            transform:translate(-50%, -50%) scale(2);
        }
    }
    
    .header-module {
        height:70px;
        nav {
            ul {
                li {
                    margin-left:2rem;
                }
            }
        }
        &.nav-up {
            top:-70px;
        }
    }

    .section-parallax {
        &__title {
            span {
                letter-spacing: -.5rem;
            }
        }
    }

    .section-marquee {
        .marquee__inner {
            letter-spacing:-.35rem;
        }
    }

    .section-project {
        &__list {
            a {
                display:block;
                padding:3rem 5vw
            }
        }
        &__item-num, &__item-title {
            display:inline-block;
            font-size:2.2rem;
            padding-top:0;
        }
        &__item-desc {
            margin-top:.75rem;
            span {
                font-size:1.4rem;
            }
        }
    }

    .section-contact {
        .textWrap {
            p {
                font-size:4rem;
                letter-spacing: -.35rem;
            }
        }
        .bg-video {
            transform: scale(.4);
            border-radius:100px;
            .videoText {
                font-size:3rem;
                div {
                    h2 {
                        letter-spacing: -.2rem;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 640px) {
    .header-module {
        height:60px;
        .logo {
            left:2rem;
        }
        nav {
            margin-right:2rem;
            ul {
                li {
                    margin-left:1.5rem;
                    width:26px;
                }
            }
        }
        &.nav-up {
            top:-60px;
        }
        .logo {
            a {
                font-size:2.6rem;
            }
        }
    }

    .main-section {
        &__inner {
            &-video { 
                margin:2rem;
            }
        }
    }

    .section-text {
        padding:5rem 0 20rem 0;
        &__wrap {
            padding:0 2rem;
        }
        &__box {
            p {
                font-size:3.2rem;
                letter-spacing: -0.4rem;
                padding-left:0;
            }
            &.tar {
                p {
                    font-size:2.4rem;
                    letter-spacing: -0.25rem;
                }
            }
            p + p {
                margin-top:1.5rem;
            }
        }
        &__box + &__box {
            margin-top:10rem;
        }
    }

    .line__wrap {
        .line {
            margin-top:15px;
        }
        @for $i from 1 to 7 {
            .line:nth-child(6n + #{$i}) {
                height: ($i * 3px);
            }
        }
    }

    .section-project {
        .marquee {
            padding:1rem 0;
        }
        &__list {
            margin-bottom:5rem;
            a {
                padding:2rem 5vw;
            }
        }
        &__item-num, &__item-title {
            font-size:2rem;
            padding-top:0;
        }
        &__item-desc {
            margin-top:.75rem;
            p {
                font-size:1.4rem;
            }
            span {
                font-size:1.3rem;
            }
        }
    }

    .section-marquee {
        .marquee__inner {
            letter-spacing: -.15rem;
        }
    }

    .section-contact {
        .textWrap {
            p {
                font-size:3.2rem;
            }
            span {
                font-size:2rem;
            }
        }
        .bg-video {
            border-radius:50px;
            .videoText {
                div {
                    p {
                        font-size:2.2rem;
                    }
                    h2 {
                        font-weight:600;
                    }
                }
                div + div {
                    font-size:2rem;
                    margin-top:1rem;
                    margin-bottom:1rem;
                }
            }
        }
    }

    .footer {
        font-size:1.2rem;
        padding:3rem 3.5rem;
    }
}