/*header*/

.aside {position:fixed; right:0; top:0; width:90px; height:100%; background:#1f1f22; z-index:100;}
.aside .mall_brand{height:296px; background:#000; cursor:pointer;}
.aside .mall_brand a{display:block; padding-top:100px; box-sizing:border-box;}
.aside .quick_menu>ul>li {display:table; height:90px; width:100%; border-bottom:1px solid #3a3a3a; position:relative;}
.aside .quick_menu>ul>li>a{display:table-cell; height:100%; text-align:center; vertical-align:middle;}
.aside .quick_menu>ul>li>a strong{display:block; margin-top:6px; font-size:12px; color:#fff; text-align:center;}

.header_top {height:50px; border-bottom:1px solid #dddddd; overflow:hidden;}
.header_top .in h2 {color:#cdcdcd; font-size:16px; font-weight:bold; float:left; margin:17px 0;}
.header_top .in h3 {color:#cdcdcd; font-size:16px; font-weight:bold; float:left; margin:17px 0; margin-left:20px;}
.header_top .in li{display:inline-block; float:left; font-size:12px; color:#000; margin:20px 20px;}
.header_top .in a:last-child li {margin-right:25px;}
.header_top .in ul{float:right;}
.header_top .in .cart{float:right; margin-right:25px; margin-top:12px;}

.header_top .in h3:hover{color:#d64759;}
.header_top .in h2:hover{color:#000;}
.header_top .in li:hover{color:#000; font-weight:600;}

.logo {margin-top:5px;}

.line {border-top:1px solid #dddddd; margin-top:5px;}


.header_bottom {height:65px;}
.header_bottom .main_gnb li{display:inline-block; font-size:16px; font-weight:600; color:#000; margin:20px 45px;}
.header_bottom .main_gnb li:hover {transform:scale(1.1);}


.main_lnb {display:none; overflow:hidden; position:relative; z-index:50;} /* opacity:0으로 가려놨습니다*/
.main_lnb ul {float:left; text-align:center; line-height:30px; margin-top:30px;}/*float left때문에 이미지가 안올라감*/
.main_lnb ul:nth-child(1) {margin-left:190px;}
.main_lnb ul:nth-child(2) {margin-left:50px;}
.main_lnb ul:nth-child(3) {margin-left:92px;}
.main_lnb ul:nth-child(4) {margin-left:97px;}
.main_lnb ul:nth-child(5) {margin-left:80px;}
.main_lnb ul:nth-child(6) {margin-left:90px;}
.main_lnb {width:1200px; height:435px; margin-left:auto; margin-right:auto; background:#fff; box-shadow:0px 3px 1px rgba(0,0,0,.4)}

.main_lnb li:hover{font-weight:bold;}

/*header*/